

.foodDataComponent {
    color: #686868;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .foodTitle{
        font-size: 26px;
        font-weight: normal;
        margin: 0;
    }    
    .foodStars{
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        font-family: 'Star', sans-serif;
        &:hover {
            .star polygon {
              fill: #ffd055 !important;
            }
          }
          
            .star {
            float: left;
        
            polygon {
              fill: #d8d8d8;
            }
        
            &:hover ~ .star {
              polygon {
                fill: #d8d8d8 !important;
              }
            }
          }
          
          &[data-stars] {
            .star polygon {
              fill: #ffd055;
            }
          }
          
          &[data-stars="1"] {
            .star:nth-child(1) ~ .star polygon {
              fill: #d8d8d8;
            }
          }
          
          &[data-stars="2"] {
            .star:nth-child(2) ~ .star polygon {
              fill: #d8d8d8;
            }
          }
          
          &[data-stars="3"] {
            .star:nth-child(3) ~ .star polygon {
              fill: #d8d8d8;
            }
          }
          
          &[data-stars="4"] {
            .star:nth-child(4) ~ .star polygon {
              fill: #d8d8d8;
            }
          }
          
          &[data-stars="5"] {
            .star:nth-child(5) ~ .star polygon {
              fill: #d8d8d8;
            }
          }
    }    
    .food{
        font-size: 47px;
        font-weight: 900;
        margin: 0;

    }
    .restaurants{
        span {
            padding: 0 10px;
        }
        font-size: 26px;
        color: #cbcbcb;

    }
}

//RESPONSIVE

@media only screen and (max-width: 600px) {
  .foodDataComponent {
    .foodTitle{
        font-size: 15px;
    }    
     
    .food{
        font-size: 22px;
    }
    .restaurants{
  
        font-size: 15px;
        color: #cbcbcb;
  
    }
  }
  
}


