.personaList {
    border-radius: 200px;
    height: 150px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    .background {
        border-radius: 200px;
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        position: absolute;
        
        filter: blur(4px);
        transition: all .5s ease;

        &:hover {
            filter: blur(0px);

        }
    }

    p {
        font-size: 20px;
        z-index: 90;
        color: white;
        font-weight: bold;
    }
}